<html>

<head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <title>FRAME</title>
   <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
      name='viewport' />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/ready.css') }}" />

   <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body>
   <div class="wrapper">
      <div class="main-header">
         <div class="logo-header">
            FRAME
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
               data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
         </div>

      </div>
      <div class="sidebar">
         <div class="scrollbar-inner sidebar-wrapper">

            <ul class="nav">
               <li class="nav-item">
                  <a href="{{ url_for('index') }}">
                     <p>Home</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="{{ url_for('scs_tool_route') }}">
                     <p>SCS QA Tool</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="{{ url_for('qs_tool_route') }}">
                     <p>Quickspecs Builder</p>
                  </a>
               </li>
               <li class="nav-item active">
                  <a href="{{ url_for('image_tool_route') }}">
                     <p>Image Toolbox</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="{{ url_for('ds_tool_route') }}">
                     <p>NPI Datasheet</p>
                  </a>
               </li>
               <li class="nav-item">
                  <a href="http://g8t11912g.inc.hpicorp.net/app/pccs/app5">
                      <p>PCCS Tool</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="http://g8t11912g.inc.hpicorp.net/app/api/app4">
                      <p>API Template</p>
                  </a>
              </li>
            </ul>
         </div>
      </div>
      <div class="main-panel">
         <div class="content">
            <div class="container-fluid">
               <h4 class="page-title">!</h4>
               <div class="row">
                  <div class="col-md-4">
                     <div class="card">
                        <div class="card-header">
                           <div class="card-title"><center>(╯°□°)╯︵ ɹoɹɹƎ</center></div>
                        </div>
                        <div class="card-body">
                           <div id="monthlyChart">
                              <center>
                                 <p>{{ error_message }}</p>
                              </center>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <footer class="footer">
            <div class="container-fluid">
               <nav class="pull-left">
                  <ul class="nav">
                  </ul>
               </nav>
               <div class="copyright ml-auto">
                  HP Inc. Restricted, Copyright 2024 HP Inc. Company.
               </div>
            </div>
         </footer>
      </div>
   </div>
   </div>

</body>

</html>