<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>FRAME</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ready.css') }}" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				FRAME
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

			</div>

		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<a href="{{ url_for('index') }}">
							<p>Home</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="{{ url_for('scs_tool') }}">
							<p>SCS QA Tool</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('qs_tool') }}">
							<p>Quickspecs Builder</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('image_tool') }}">
							<p>Image Toolbox</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('image_tool') }}">
							<p>NPI Datasheet</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">SCS QA Tool</h4>
					<div class="row">

						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Regular Report</div>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="product_only">Please upload XLSX file</label>
										<input type="file" class="form-control-file" id="product_only">
									</div>
								</div>
								<div class="card-action">
									<button class="btn btn-success">Submit</button>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Granular Report</div>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="product_only">Please upload XLSX file</label>
										<input type="file" class="form-control-file" id="product_only">
									</div>
								</div>
								<div class="card-action">
									<button class="btn btn-success">Submit</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Battery Life Report</div>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="product_only">Please upload XLSX file</label>
										<input type="file" class="form-control-file" id="product_only">
									</div>
								</div>
								<div class="card-action">
									<button class="btn btn-success">Submit</button>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Matrix File</div>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="product_only">Please upload XLSX file</label>
										<input type="file" class="form-control-file" id="product_only">
									</div>
								</div>
								<div class="card-action">
									<button class="btn btn-success">Submit</button>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
						</ul>
					</nav>
					<div class="copyright ml-auto">
						HP Inc. Restricted, Copyright 2024 HP Inc. Company.
					</div>
				</div>
			</footer>
		</div>
	</div>
	</div>

</body>

</html>