<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>FRAME - SCS QA Tool</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
		name="viewport" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ready.css') }}" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<img src="{{ url_for('static', filename='images/favicon.png') }}" class="img-header" />
				FRAME
			</div>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<a href="{{ url_for('index') }}">
							<p>Home</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="{{ url_for('scs_tool_route') }}">
							<p>SCS Quality Assurance Tool</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('qs_tool_route') }}">
							<p>Quickspecs Builder</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('image_tool_route') }}">
							<p>Image Toolbox</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('image_tool_route') }}">
							<p>CROME</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://g8t11912g.inc.hpicorp.net/app/pccs/app5">
							<p>PCCS Tool</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="https://g8t11912g.inc.hpicorp.net/app/contentcraft/main">
							<p>Content Craft</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('faq_route') }}">
							<p>FAQ</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">SCS Quality Assurance Tool</h4>
					<div class="row">
						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Regular Report</div>
								</div>
								<div class="card-body">
									<form action="scs_tool" method="POST" enctype="multipart/form-data">
										<div class="form-group">
											<label for="scs_regular">Please upload XLSX file</label>
											<input type="file" class="form-control-file" id="scs_regular"
												name="scs_regular">
										</div>
										<div class="card-action">
											<button type="submit" class="btn btn-success">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Granular Report</div>
								</div>
								<div class="card-body">
									<form action="scs_tool" method="POST" enctype="multipart/form-data">
										<div class="form-group">
											<label for="product_only">Please upload XLSX file</label>
											<input type="file" class="form-control-file" id="product_only"
												name="product_only">
										</div>
										<div class="card-action">
											<button type="submit" class="btn btn-success">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Battery Life Report</div>
								</div>
								<div class="card-body">
									<form action="scs_tool" method="POST" enctype="multipart/form-data">
										<div class="form-group">
											<label for="product_only">Please upload XLSX file</label>
											<input type="file" class="form-control-file" id="product_only"
												name="product_only">
										</div>
										<div class="card-action">
											<button type="submit" class="btn btn-success">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Matrix File</div>
								</div>
								<div class="card-body">
									<form action="scs_tool" method="POST" enctype="multipart/form-data">
										<div class="form-group">
											<label for="product_only">Please upload XLSX file</label>
											<input type="file" class="form-control-file" id="product_only"
												name="product_only">
										</div>
										<div class="card-action">
											<button type="submit" class="btn btn-success">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">User Guide</div>
								</div>
								<div class="card-body">
									<div class="">
										The SCS QA Tool is a software solution designed to enhance the accuracy data
										acquired by SCS Team.<br>
										This tool streamlines the process of cleaning and
										verifying SKU Accuracy Reports, ensuring that the acquired content aligns
										seamlessly with HP's content database.<br>
										The tool first comprehensively cleans the SKU Accuracy Report, addressing common
										data inconsistencies, formatting errors, and duplications.<br>
										After cleaning the data, the tool performs a robust comparison with the product
										database. It identifies discrepancies, inconsistencies, and mismatches between
										the acquired content and the existing records.
									</div>
								</div>
							</div>
						</div>
					</div>




				</div>

			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
						</ul>
					</nav>
					<div class="copyright ml-auto">
						HP Inc. Restricted, Copyright 2024 HP Inc. Company.
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>

</html>